<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grouponearth.avi.grouponearth" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PresentationLayer.LoginPage"
            android:label="@string/title_activity_login_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.AdminMenu"
            android:label="@string/title_activity_admin_menu" >
        </activity>
        <activity
            android:name=".PresentationLayer.BusinessManagerMenu"
            android:label="@string/title_activity_business_manager_menu" >
        </activity>
        <activity
            android:name=".PresentationLayer.ClientMenu"
            android:label="@string/title_activity_client_menu" >
        </activity>
        <activity
            android:name=".PresentationLayer.CouponPage"
            android:label="@string/title_activity_coupon_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.SearchCoupons"
            android:label="@string/title_activity_search_coupons" >
        </activity>
        <activity
            android:name=".PresentationLayer.RegisterPage"
            android:label="@string/title_activity_register_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.ClientCoupons"
            android:label="@string/title_activity_client_coupons" >
        </activity>
        <activity
            android:name=".PresentationLayer.ForgotYourPasswordPage"
            android:label="@string/title_activity_forgot_your_password_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.AddNewAdminPage"
            android:label="@string/title_activity_add_new_admin_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.AddNewBusinessPage"
            android:label="@string/title_activity_add_new_business_page" >
        </activity>

        <activity
            android:name=".PresentationLayer.AroundMeCouponsPage"
            android:label="@string/title_activity_around_me_coupons_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.RateCouponPage"
            android:label="@string/title_activity_rate_coupon_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.BusinessAddNewCoupon"
            android:label="@string/title_activity_business_add_new_coupon" >
        </activity>
        <activity
            android:name=".PresentationLayer.ManageCouponsGeneric"
            android:label="@string/title_activity_manage_coupons_generic" >
        </activity>
        <activity
            android:name=".PresentationLayer.BusinessManageCoupon"
            android:label="@string/title_activity_business_manage_coupon" >
        </activity>
        <activity
            android:name=".PresentationLayer.CouponApprovalPage"
            android:label="@string/title_activity_coupon_approval_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.UnapprovedCouponPage"
            android:label="@string/title_activity_unapproved_coupon_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.UpdateClientListPage"
            android:label="@string/title_activity_update_client_list_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.UpdateClientPage"
            android:label="@string/title_activity_update_client_page" >
        </activity>
        <activity
            android:name=".PresentationLayer.BusinessEditProfile"
            android:label="@string/title_activity_business_edit_profile" >
        </activity>
        <activity
            android:name=".PresentationLayer.UpdateCouponPage"
            android:label="@string/title_activity_update_coupon_page" >
        </activity>
    </application>

</manifest>
